* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.navigation {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation.active {
  left: 0;
}

.banner {
  position: relative;
  width: 60vh;
  height: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navLink {
  position: relative;
  width: 40vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navLink ul {
  position: relative;
  width: 100%;
}

.navLink ul li {
  position: relative;
  list-style: none;
}

.navLink ul li a {
  position: relative;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  text-decoration: none;
  margin: 5px 0;
  margin-left: 100px;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navLink ul li a:hover {
  color: #2196f3;
}

.sec {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.sec.active {
  left: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 1s;
  transition: 1s;
}

.toggle {
  position: relative;
  left: 0;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: linear-gradient(45deg, #24006b, #f42f8c);
  border: 1px solid black;
  border-radius: 2px;
}

.toggle.active {
  left: -200px;
  border: 1px solid white;
}

.toggle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: black;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: 1s;
  transition: 1s;
}

.toggle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: black;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: 1s;
  transition: 1s;
}

.toggle.active::before {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  background: white;
}

.toggle.active::after {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
  background: white;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: linear-gradient(45deg, #ccff00, #09afff);
  color: #3f51b5;
  font-weight: 400;
  border-radius: 4px;
  letter-spacing: 1px;
}

.sec .imgBx {
  position: relative;
  min-width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.content .btn {
  background: #09afff;
  color: #24006b;
}

.sec .content {
  max-width: 700px;
  margin-left: 40px;
}

.sec .content h2 {
  font-weight: 500;
  letter-spacing: 1px;
  color: #777;
  line-height: 2em;
}

.sec .content h2 span {
  font-weight: 700;
  color: #2196f3;
  font-size: 2em;
}

.sec .content p {
  color: #777;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .sci li {
  display: inline-block;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */
